<main>
  <div class="item-list-container">
    <div><p><small>Presented {{itemCount}} items with {{itemTypeCount}} item types</small></p></div>
    <!-- Filter Row -->
    <div class="row">
      <div class="col-sm mb-3">
        <input type="text" class="form-control" placeholder="Filter by SN" [(ngModel)]="filters.SerialNumber"
          (input)="applyFilters()">
      </div>
      <div class="col-sm mb-3">
        <input type="text" class="form-control" placeholder="Filter by Type" [(ngModel)]="filters.Type"
          (input)="applyFilters()">
      </div>
    </div>

    <div style="max-height: 500px; overflow-y: auto;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Item SN</th>
          <th>Item Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredItems; trackBy: trackBySerialNumber" (click)="onSelectItem(item)"
        [class.selected]="item.SerialNumber === itemSelectedByParent?.SerialNumber">
          <td>{{ item.SerialNumber }}</td>
          <td>{{ item.Type.Name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

  <div class="message-box-overlay" *ngIf="showMessageBox">
    <div class="message-box">
      <div class="message-box-content">
        <p>{{ messageBoxText }}</p>
      </div>
  
      <div class="message-box-actions">
        <button (click)="closeMessageBox()">Exit...</button>
      </div>
    </div>
  </div>
</main>